@import "../../../Global";

.restaurantDetail {
  .header {
    width: 100%;
    padding-right: 5px;
    @include flex(center, flex-start);

    .title {
      margin-left: 5px;
      font-size: 20px;
      margin-top: 2px;
    }

    .headerIcons {
      margin-left: auto;
      @include flex(center, center);

      .save {
        margin-right: 0;
      }
    }
  }

  .section {
    width: 100%;

    .restaurantImagesRow {
      flex-wrap: wrap;
      padding: 5px;
      box-sizing: border-box;

      .imageListWrapper {
        padding: 5px 0 10px;
      }

      button {
        margin-right: 0;
      }

      h3 {
        font-size: 16px;
        padding: 10px 3px;
        width: 100%;
      }
    }
  }
}
