@import "../../Global";

.listGroupWrapper {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > .loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listGroupHeader {
    @include flex(center, space-between);
    padding: 15px 10px;

    > .searchBox {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 10px;
      transition: width .25s ease;
    }

    & > .listGroupTitle {
      font-size: 22px;
    }

    & > .buttons {
      @include flex(center, center);

      & > .selectedCount {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }

  .listGroup {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    @include flex(center, center);

    &.scrollable {
      overflow-y: auto;
    }

    .listGroupItem {
      @include flex(center, flex-start);
      box-sizing: border-box;
      width: calc(100% - 50px);
      cursor: pointer;
      padding: 20px 0;
      border-radius: 10px;
      transition: all .25s ease-out 0s;
      transition-property: width, padding;
      margin-bottom: 15px;

      &:hover {
        width: 100%;
        padding: 20px 25px;
        cursor: pointer;
        background-color: #efefef;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.selected {
        border: 2px solid $defaultColor;
        width: 100%;
        padding: 20px 25px;
      }

      .listGroupItemText {
        flex-grow: 1;
        width: 10%;
        font-size: 80%;
        color: rgb(111, 119, 127);

        &.bold {
          font-weight: bold;
          font-size: 100%;
          color: black;
        }

        & > i {
          color: $defaultColor;
          font-size: 30px;
          transition: all .5s ease;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

}
