@import "../../Global";

.multipleAttributes {
  width: 100%;

  .title {
    padding: 10px 8px;
  }

  .attributesContainer {
    width: 100%;

    .attributesRow {
      @include flex(center, flex-start);
      padding-right: 5px;

      .columns {
        display: flex;
      }

      .buttons {
        display: flex;
        box-sizing: border-box;
        margin-left: auto;
        align-self: flex-end;

        .removeButton {
          align-self: flex-end;
          margin-bottom: 8px;
          box-sizing: border-box;
          margin-left: auto;
        }
      }

      .attributesColumn {
        box-sizing: border-box;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        .attributesImagesContainer {
          padding: 5px;
          width: 100%;

          h5 {
            font-size: 14px;
            padding: 5px;
          }

          .imageUploader {
            margin-right: 5px;
            border-radius: 10px;
          }

          .imageWrapper {
            width: 48px;
            height: 48px;
            margin-right: 5px;
            padding: 4px;
            border: 1px solid #cccccc;
            border-radius: 5px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .bottomRow {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;

      & > button {
        width: 100%;
        margin-bottom: 10px;

        &.editButton {
          margin-bottom: 0;
        }

        &.saveButton {
          margin-bottom: 0;
        }
      }
    }
  }
}
